<h2 i18n="@@Resources">Resources</h2>
<p i18n="@@Resources:Text">
  Here are some <b>links</b>
  to <a href="https://example.org">help</a>
  <sup>you</sup> <strong>get started</strong>:
</p>

<ul>
  <li>npm install</li>
  <li>npm build:localize</li>
  <li>browse to <a href="http://localhost:4205/de-DE">http://localhost:4205/de-DE</a></li>
  <li>browse to <a href="http://localhost:4205/en-GB">http://localhost:4205/en-GB</a></li>
</ul>
<p>
  You can try to run <code>docker run -it -p4205:80 -v $(pwd)/dist/kloener-angular9-i18n-issue:/app --workdir /app --rm php php -S 0.0.0.0:80</code>
</p>
